* {
    margin: 0;
    padding: 0;
}

body {
}
.nav {
    z-index: 2;
    /* position: absolute; */
    width: 100%;
}
.navFixed {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;

    transform: translateY(-64px);

    /* height: 0; */
    overflow: hidden;

    transition: transform 0.4s;
}
.navPanel {
    background-color: red;
    height: 64px;
    border-radius: 0 0 7px 7px;

    line-height: 64px;
}
