:root{
    /* Shadow */
    --shadow-Panel: 1px 1px 5px 1px #00000076;

    /* Alpha */
    --Alpha-LoginPanel: 0.85;
}

.contain{
    width: 1260px;
    height: 100%;
}
.marginCenter{
    margin: 0 auto;
}
