:root{
    
    /* Shadow */
    --shadow-Panel: 1px 1px 5px 1px #00000076;
    --shadow-Nav: 0px -2px 7px 0px #000000ab;

    /* Alpha */
    --Alpha-LoginPanel: 0.85;

    

    /* // Color // */
    /* Link */
    --Link-TextColor: #1772f6;
    --Link-TextColor-hover: #1056c1;
    /* Border */
    --Border-Darkgray: #d3d1d1;
    --Border-Darkgray-focus: #adadad;
    --Border-focus:#0074cc;
    /*  */
    --Background-type-small: #f3f7fb;
    

    /* Console-Theme */
    --console-panel-dark: #323232;
    
}
/* 链接 ======================================================================== */
a{
    text-decoration: none;
    color: var(--Link-TextColor);
}
a:hover{
    color: var(--Link-TextColor-hover);
    /* filter: brightness(130%); */
}
/* 自定义 ======================================================================= */
.flex{
    display: flex;
}

.contain{
    width: 1260px;
    height: 100%;
}

.marginCenter{
    margin: 0 auto;
}
.flexCenter{
    justify-content: center;
}
.w100{
    width: 100%;
}

.topBlock{
    margin: 60px 0;
    overflow: hidden;
}

.center{
    text-align: center;
}

.tipBox{
    border: 1px solid red;
    border-radius: 6px;
    width: 80%;
    margin: 0 auto;
    padding: 5px 0;

}
/* 摇晃 */
.shake {
    animation: shake 800ms ease-in-out;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(+2px, -2px, 0);
    }
    30%,
    70% {
        transform: translate3d(-4px, +1px, 0);
    }
    40%,
    60% {
        transform: translate3d(+4px, -2px, 0);
    }
    50% {
        transform: translate3d(-4px, 0, 0);
    }
}